        <header id="masthead" class="site-header" role="banner">
            <hgroup>
				<a href="/" title="Home"><img width="60" height="60" src="/stylesheets/images/snow.png" title="logo"  alt="logo"></a>
                <h1 class="site-title"><a href="/" title="letsnow" rel="home">letsnow</a></h1>
				<h2 class="site-description">A Simple Sandra.Snow Theme.</h2>
            </hgroup>
            <nav role="navigation" class="site-navigation main-navigation">
                <h1 class="assistive-text">Menu</h1>
                <div class="assistive-text skip-link"><a href="#content" title="Skip to content">Skip to content</a></div>
                <div class="menu">
                    <ul>
						<li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/category">Categories</a></li>
                        <li><a href="/archive">Archive</a></li>
                        <li><a href="/rss.xml">RSS</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        