<header id="masthead" class="simple-header" role="banner">
	<hgroup>
		<a href="/" title="Home"><img width="40" height="40" src="/stylesheets/images/snow.png" title="logo"  alt="logo"></a>
		<h1 class="site-title"><a href="/" title="Snow Byte" rel="home">Snow Byte</a>
	</hgroup>
</header>
        